
.element-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  ::ng-deep {
    .p-button-icon-only {
      border-radius: 0 10px 10px 0;
    }

    .receiver-button {
      flex: 1;

      button {
        border-radius:  10px 0 0 10px;
      }
    }
  }
}

.element {
  width: 30%;
  display: inline-flex;
  margin: 20px;
}

.select-button-set::ng-deep {
  .p-button {
    width: 180px;
    display: block;
    flex: unset !important;
    margin: 20px;

    &.p-highlight {
      background-color: #883cae;
    }
  }

  .p-buttonset {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.search-button {
  float: right;
}
