<div class="home-page">
  <p-button (click)="logout()" icon="pi pi-power-off" label="Log out" class="log-out-button"></p-button>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <p-button (click)="showSearchDialog()" icon="pi pi-search" label="Search for gifts"
                  class="btn"></p-button>
        <p-button *ngIf="firstSearch" (click)="showSaveSearchDialog()" icon="pi pi-heart-fill" label="Save Search"
                  class="btn"></p-button>
        <p-button *ngIf="!(savedNames.length === 0)" (click)="showLoadSearchDialog()" icon="pi pi-download" label="Load Search"
                  class="btn"></p-button>
        <br>
        <p-button (click)="showAddTagDialog()" icon="pi pi-comment" label="Add tag" class="btn"></p-button>
        <p-button (click)="showAddGiftDialog()" icon="pi pi-microsoft" label="Add gift" class="btn"></p-button>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Find the perfect gift</h3>
          <p>
            for your loved ones!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Search Gift Wizard" [(visible)]="displaySearchWizard" [modal]="true" [style]="{width: '50vw'}"
          [maximizable]="true"
          [draggable]="false" [resizable]="false">
  <app-wizzard (close)="searchInitiated($event)" [tags]="tags" [extraTags]="extraTags"></app-wizzard>
</p-dialog>
<p-dialog header="Add Tag Modal" [(visible)]="displayAddTagWizard" [modal]="true" [style]="{width: '50vw'}"
          [maximizable]="true"
          [draggable]="false" [resizable]="false">
  <app-add-tag (close)="tagAdded()"></app-add-tag>
</p-dialog>
<p-dialog header="Add Gift Wizard" [(visible)]="displayAddGiftWizard" [modal]="true" [style]="{width: '50vw'}"
          [maximizable]="true"
          [draggable]="false" [resizable]="false">
  <app-add-gift [tags]="tags" [categories]="categories"></app-add-gift>
</p-dialog>
<p-dialog header="Save search" [(visible)]="displaySaveSearchWizard" [modal]="true" [style]="{width: '50vw'}"
          [maximizable]="true"
          [draggable]="false" [resizable]="false">
  <app-save-search (close)="searchSaved()"></app-save-search>
</p-dialog>
<p-dialog header="Load search" [(visible)]="displayLoadSearchWizard" [modal]="true" [style]="{width: '50vw'}"
          [maximizable]="true"
          [draggable]="false" [resizable]="false">
  <app-load-search (close)="searchInitiated($event)" [savedNames]="savedNames"></app-load-search>
</p-dialog>
<p-progressSpinner class="progress-spinner" *ngIf="loading"></p-progressSpinner>
<div class="results" *ngIf="!loading">
  <div class="category" *ngFor="let category of categories">
    <ng-container *ngIf="getItemsByCategory(category.categoryName) as filteredResults">
      <div *ngIf="filteredResults.length !== 0">
        <p class="category-label">{{category.categoryName}}</p>
        <p-carousel [value]="filteredResults" [numVisible]="4" [numScroll]="1"
                    [responsiveOptions]="responsiveOptions"
                    [autoplayInterval]="3000" [circular]="true">
          <ng-template let-product pTemplate="item">
            <div *ngIf="product.imgURL !== null" class="result-wrapper">
              <img src="assets/giftFinderPics/{{product.imgURL}}"/>
              <p>{{product.itemName}}</p>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </ng-container>
  </div>
</div>
<h3 *ngIf="noResults" class="no-results">No products match the combination of needed requirements:(</h3>
<h3 *ngIf="noResults" class="no-results">No products match the combination of needed requirements:(</h3>
